.container{
    background-color: var(--bgSoft) !important;
    color: var(--text_color) !important;
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    min-height: 90vh;
    max-height: max-content;
    padding-top: 30px;
}
*::-webkit-scrollbar {
    display: none;
}