.topbar {
    height: 10vh;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    background-color: var(--body_background) !important;
    color: var(--body_color) !important;
}


.logo {
    height: 40px;
    border-radius: 5px;
}

.userimage {
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    border: 2px solid var(--body_color);
}

.search{
    border: 1px solid var(--body_color);
    border-radius: 5px;
    padding: 5px;
}

.input{
    background: none;
    border: none;
    color: var(--body_color) !important;
}

.input:focus{
    color: var(--body_color) !important;
    font-weight: bold;
    background: none;
    outline: none;
}